html, body {
	font-family: Microsoft YaHei;
	background-color:transparent;
}
header {
	background-image:url('../image/login01.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:48px;
}
::-webkit-input-placeholder { 
	color: rgba(256,256,256,0.4); 
	font-size:16px;
}
#return{
	position:absolute;
	top:12.25px;
	height:21.5px;
	width:12px;
	left: 18px;
	z-index: 1;
}
header input{
	position:absolute;
	padding:0 14px;
	top:9px;
	height: 30px;
	left: 59.5px;
	width: 240px;
	color:#FFF;
	border-bottom-left-radius: 2em;
	border-top-left-radius: 2em;
	background-color:rgba(256,256,256,0.32);
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	z-index: 1;
}
#search{
	position:absolute;
	top:14px;
	height: 20px;
	left: 275px;
	z-index: 2;
}
#friend{
	display:none;
	margin-top:18px;
	background-color:rgba(256,256,256,0.3);
	width: 100%;
	height: 50px;
}
#searchfriend{
	display:none;
	width: 100%;
	height: 70px;
	border-bottom: 1px #FFFFFF solid;
	background-image: url('../image/ft.png');
	background-repeat:no-repeat;
	background-size:53px 53px;
	background-position:25px center;
	text-align:center;
	color:#FFFFFF;
	line-height: 70px;
	font-size:20px;
}
section span{
	display:inline-block;
	height: 50px;
	line-height:50px;
	color:rgba(256,256,256,0.8);
	font-size:20px;
	padding: 0 30px;
}
#error{
	display:none;
	margin-top:18px;
	text-align:center;
	height:50px;
	color: #FFFFFF;
	font-size:20px;
	line-height: 50px;
	background-color:rgba(256,256,256,0.3);
}