html,body{
    height: 100%;
    font-family: Microsoft YaHei;
}
#wrap{
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    text-align:center;
}
#header{
	background-image:url("../image/login01.jpg");
	background-repeat:no-repeat;
	color: #fff;
    width: 100%;
    height: 48px;
    text-align: center;
}
#header img{
	width:12px;
	left:17px;
	position: absolute;
	top:14.75px;
}
#header span{
	display:inline-block;
	height: 48px;
	line-height: 48px;
	color:#FFFFFF;
	font-size: 22px;
}

